<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ridecare">

    <!-- Network permissions for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Storage permissions for image uploads (pre-33 vs 33+) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RideCare"
        tools:targetApi="31">

        <!-- Mechanic Activities -->
        <activity android:name=".activities.mechanic.MechanicDashboardActivity"
            android:exported="true" />
        <activity android:name=".activities.mechanic.MechanicJobsActivity"
            android:exported="false" />
        <activity android:name=".activities.mechanic.MechanicJobDetailsActivity"
            android:exported="false" />
        <activity android:name=".activities.mechanic.ActiveJobsActivity"
            android:exported="false" />
        <activity android:name=".activities.mechanic.JobBoardActivity"
            android:exported="false" />
        <activity android:name=".activities.mechanic.InvoiceCreateActivity"
            android:exported="true" />

        <!-- Service Activities -->
        <activity android:name=".activities.service.oilChangeActivity"
            android:exported="true"/>

        <activity android:name=".activities.service.tyreRepairActivity"
            android:exported="true"/>

        <activity android:name=".activities.service.brakeSyetemRepairActivity"
            android:exported="true"/>





        <!-- Client Activities -->
        <activity android:name=".activities.client.ServiceListActivity"
            android:exported="false" />
        <activity android:name=".activities.client.VehicleListActivity"
            android:exported="true" />
        <activity android:name=".activities.client.AddVehicleActivity"
            android:exported="false" />
        <activity android:name=".activities.client.DashboardActivity"
            android:exported="true" />
        <activity android:name=".activities.client.BookServiceActivity"
            android:exported="false" />
        <activity android:name=".activities.client.InvoiceListActivity"
            android:exported="true"
            android:label="Invoices" />
        <activity android:name=".activities.client.InvoiceDetailsActivity"
            android:exported="true" />
        <activity android:name=".activities.client.EditVehicleActivity"
            android:exported="true" />


        <!-- Payment result activity with its intent-filters -->
        <activity
            android:name=".activities.client.PaymentResultActivity"
            android:exported="true">
            <!-- Payment Success -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="payment-success" />
            </intent-filter>
            <!-- Payment Cancel -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="payment-cancel" />
            </intent-filter>
        </activity>

        <!-- Common Activities -->
        <activity android:name=".activities.common.RegisterActivity" android:exported="true" />
        <!-- Make sure this is the activity you want to be the LAUNCHER. If not, move the intent-filter below into the correct activity -->
        <activity android:name=".activities.common.getStartedActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.common.LoginActivity" android:exported="true" />
        <activity android:name=".activities.common.SettingsActivity" android:exported="false" />
        <activity android:name=".activities.common.ForgotPasswordActivity" android:exported="false" />
<activity android:name=".activities.common.EditProfileActivity" android:exported="false"/>
        <!-- Firebase Messaging Service -->
        <service
            android:name=".services.cFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
